<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Estado Cuenta</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{STATIC_URL}}css/logo-nav.css" rel="stylesheet">

   </head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{{STATIC_URL}}img/logo.png" alt="logo"  width="180" height="50">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                     <li>
                        <a href="http://127.0.0.1:8000/estado/">Estado cuenta</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/CDR/">CDR</a>
                    </li>
                     <li>
                        <a href="http://127.0.0.1:8000/verificarTransferencias/">Verificar transferencias</a>
                    </li>
                    <li>
                        <a href="#">Otros</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="{{STATIC_URL}}js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<div><form id='datos' action='' method='POST'>
                {% csrf_token %}
                {{form.as_p}}
               <center> <b> <label>Seleccione tipo de convenio:</label></b>
               <select name="tipo" id="id_seleccionar">
                        <option selected="selected" value="0">Seleccione tipo</option>
                        <option value="aporte" id="id_aporte" name="aporte">Aporte</option>
                        <option value="derivado" id="id_derivado" name="derivado">Derivado</option>
                 </select>

                 <input type="text" size="15" maxlength="30" name="codigo" id="id_codigo">
                 <input type= submit value="Consultar" name='boton' id="id_consultar">
                </center>
    </div>
        <!-- {% if datos %} -->
        {% if datos.transferidoColciencias = 0 %}
        <div align="center">
                <h2 style="text-align:center">Estado cuenta</h2>
        </div>
<center>
        <table align="center" style="width:1000px">
            <thead>
                <tr>
                    
                    <th><strong>Fecha inicio: {{ convenios.fechaInicio|date:"Y" }}:{{ convenios.fechaInicio|date:"m" }}:{{ convenios.fechaInicio|date:"j" }}</strong></th>
                    <th><strong>Fecha fin: {{ convenios.fechaFInalizacion|date:"Y" }}:{{ convenios.fechaFInalizacion|date:"m" }}:{{ convenios.fechaFInalizacion|date:"j" }}</strong><th>
                    
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>Valor Transferido: $ {{ datos.transferido }}</td>
                    <td>Recursos Comprometidos: $ {{ datos.comprometidos }}</td>
                </tr>
                <tr>
                    <td>Saldo X Transferir: $ {{ datos.transferir }}</td>
                    <td>Saldo X Comprometer: $ {{ datos.comprometer }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Saldo por Pagar Sobre Recursos Comprometidos: $ {{ datos.porPagar }}</td>
                </tr>
                <tr>
                    <td>Recursos Pagados: $ {{ datos.pagados }}</td>
                </tr>
                <tr>
                    <td>Recursos no Comprometidos: $ {{ datos.noComprometidos }}</td>
                </tr>
                <tr>
                    <td>Recursos no Girados: $ {{ datos.noGirados }}</td>
                </tr>
                </DIV>
            </tbody>
        </table>
    </center>
        
      <DIV ALIGN=right>  <form id='pdf' action='' method='GET'>
            <!--  {% csrf_token %}
            {{form.as_p}} -->
            <input type= submit value="Generar PDF" name='boton'> </DIV>
        </form>
</div>
        <footer style="text-align:right">
        <center><h3><b>Sistema Integrado Colciencias - 2014</center></h3>
        </footer>
       
        {% else %}
         <div align="center">
                <h2 style="text-align:center">Estado cuenta</h2>
        </div>
<center>
        <table align="center" style="width:1000px">
            <thead>
                <tr>                    
                   <DIV><br> <th><strong>Fecha inicio: {{ convenios.fechaInicio|date:"Y" }}:{{ convenios.fechaInicio|date:"m" }}:{{ convenios.fechaInicio|date:"j" }}</strong></th>
                    <th><strong>Fecha fin: {{ convenios.fechaFInalizacion|date:"Y" }}:{{ convenios.fechaFInalizacion|date:"m" }}:{{ convenios.fechaFInalizacion|date:"j" }}<th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>Valor Transferido X Colciencias: $ {{ datos.transferidoColciencias }}</td>
                    <td>Recursos Comprometidos: $ {{ datos.comprometidos }}</td>
                </tr>
                <tr>
                    <td>Saldo X Transferir Colciencias: $ {{ datos.transferirColciencias }}</td>
                    <td>Saldo X Comprometer: $ {{ datos.comprometer }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Saldo por Pagar Sobre Recursos Comprometidos: $ {{ datos.porPagar }}</td>
                </tr>
                <tr>
                    <td>Valor transferido X Otras Entidades: $ {{ datos.transferidoOtrasEntidades }}</td>
                </tr>
                <tr>
                    <td>Saldo de giros por recibir de otras entidades: $ {{ datos.girosOtrasEntidades }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Recursos Pagados: $ {{ datos.pagados }}</td>
                </tr>
                <tr>
                    <td>Total valor recursos transferidos: $ {{ datos.noComprometidos }}</td>
                    <td>Recursos No Comprometidos: $ {{ datos.noComprometidos }}</td>
                </tr>
                <tr>
                    <td>Total valor saldo por transferir: $ {{ datos.noComprometidos }}</td>
                    <td>Recursos No Girados: $ {{ datos.pagados }}</td>
                </tr>
                </DIV>
            </tbody>
        </table>
    </center>
        
      <DIV ALIGN=right>  <form id='pdf' action='' method='POST'>
             <!-- {% csrf_token %}
            {{form.as_p}} -->
            <input type= submit value="Generar PDF" name='boton' id='pdf'> </DIV>
        </form>
</div>
        <footer style="text-align:right">
        <center><h3><b>Sistema Integrado Colciencias - 2014</center></h3>
        </footer>
        {% endif %}
         <!-- {% else %}
            <script type="text/javascript">
            alert('El convenio no existe');
            </script>
        {% endif %} -->
        </form>
</body>

</html>
